<section>
  <div class="container">
    <h2>Cadastro de Ofertas</h2>

    <div class="grid">
      <div class="campos">
        <mat-form-field appearance="outline">
          <mat-label>ID</mat-label>
          <input matInput placeholder="ID do jogo" />
        </mat-form-field>
      </div>

      <div class="campos">
        <mat-form-field appearance="outline">
          <mat-label>Título</mat-label>
          <input matInput placeholder="Título do jogo" />
        </mat-form-field>
      </div>

      <div class="campos">
        <mat-form-field appearance="outline">
          <mat-label>Preço</mat-label>
          <input matInput placeholder="Preço do jogo" />
        </mat-form-field>
      </div>

      <div class="campos">
        <mat-form-field appearance="outline">
          <mat-label>Preço com desconto</mat-label>
          <input matInput placeholder="Preço com desconto" />
        </mat-form-field>
      </div>

      <div class="campos">
        <mat-form-field appearance="outline">
          <mat-label>Loja</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let loja of lojas; let i = index"
              [value]="i + 1"
              >{{ loja.nome }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="campos">
        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input matInput placeholder="" />
        </mat-form-field>
      </div>
    </div>
    <div class="campos">
      <button mat-raised-button color="primary">Salvar</button>
    </div>
  </div>
</section>
