:root {
  /* Cores */
  --primario: #0b1641;
  --secundario: #c70160;
  --sucesso: #16857b;
  --texto: #ffffff;

  /* Fontes */
  --title-font-size: 1.25rem;
  --subtitle-font-size: 0.875rem;
  --link-font-size: 0.75rem;
  --paragraph-font-size: 0.625rem;
  --font-weight-2: 200;
  --font-weight-3: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial,
    Helvetica, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    45deg,
    var(--primario) 0%,
    var(--secundario) 100%
  );
  background-attachment: fixed;
  color: var(--texto);
}

/* Cabeçalho */
#header {
  background-color: var(--primario);
  width: 100%;
  height: 3.125rem;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Corpo da Página */
main {
  margin-top: 4.125rem;
}

main h2 {
  font-size: var(--title-font-size);
  font-weight: var(--font-weight-3);
  width: 100%;
  line-height: 1.3125rem;
  text-align: center;
  vertical-align: middle;
}

/* Inputs */
.flex-input {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.1875rem 0.5rem 1.4375rem 0.5rem;
}

input[type='search'] {
  background-color: var(--primario);
  background-image: url(assets/pesquisa.svg);
  background-repeat: no-repeat;
  background-position: 4px 4px;
  color: var(--texto);
  font-size: var(--subtitle-font-size);
  font-weight: var(--font-weight-2);
  text-indent: 2.6875rem;
  width: 10.875rem;
  height: 2.25rem;
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.flex-ordenar {
  display: flex;
  flex-flow: column;
}

.flex-ordenar label {
  font-size: var(--paragraph-font-size);
  text-align: center;
  line-height: 0.75rem;
  vertical-align: middle;
}

input[list='ordenar-lista'] {
  background-color: var(--primario);
  color: var(--texto);
  font-size: var(--subtitle-font-size);
  font-weight: var(--font-weight-2);
  text-indent: 0.5rem;
  width: 7.625rem;
  height: 2.25rem;
  border: 0;
  border-radius: 8px;
  margin-top: 0.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Cards de Jogos em Promoção*/
.oferta {
  height: 11.25rem;
  width: 19rem;
  background-color: var(--primario);
  box-shadow: 0px 3.18725px 3.18725px rgba(0, 0, 0, 0.25);
  border-radius: 6.3745px;
  margin: 0 auto 1.25rem auto;
  position: relative;
}

.oferta header {
  position: relative;
  top: 6.5rem;
}

.oferta .titulo-jogo {
  font-size: var(--title-font-size);
  font-weight: var(--font-weight-3);
  font-style: normal;
  text-indent: 0.6875rem;
  vertical-align: center;
  line-height: 1.3125rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 18rem;
}

.oferta figure {
  height: 5.9375rem;
  width: 19rem;
  position: absolute;
  top: 0;
  border-radius: 6.3745px 6.3745px 0px 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oferta img {
  display: block;
  width: 19rem;
}

.oferta div {
  position: absolute;
  bottom: 0;
  padding: 0 0.625rem 0.6875rem 0.6875rem;
  width: 19rem;
  display: flex;
  justify-content: space-around;
}

.oferta .detalhes-jogo {
  background-color: var(--secundario);
  width: 5.75rem;
  height: 1.875rem;
  border-radius: 6.15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oferta .detalhes-jogo h5 {
  font-size: var(--subtitle-font-size);
}

.oferta .preco-jogo {
  margin-right: 0.625rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.oferta .preco-normal {
  font-size: var(--paragraph-font-size);
  font-weight: var(--font-weight-2);
  text-align: right;
  text-decoration: line-through;
}

.oferta .preco-oferta {
  font-size: var(--subtitle-font-size);
  text-align: right;
}

.oferta .desconto-jogo {
  background-color: var(--sucesso);
  width: 4rem;
  height: 1.9375rem;
  border-radius: 6.37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oferta .desconto-jogo h5 {
  font-size: var(--subtitle-font-size);
}

/* Botão "Carregar Mais" */
.button-wrapper {
  margin: 0.625rem auto 2rem auto;
  text-align: center;
}

.button-wrapper .more-content {
  background-color: var(--primario);
  color: var(--texto);
  font-size: var(--title-font-size);
  font-weight: var(--font-weight-2);
  width: 19rem;
  height: 3.125rem;
  border-radius: 8px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Rodapé */
#footer {
  background-color: var(--primario);
  padding: 1.375rem 0.5rem 0.4375rem 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#footer p {
  font-size: var(--paragraph-font-size);
  font-weight: var(--font-weight-3);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 0.9375rem;
  margin: 0.875rem 0 0.75rem 0;
}

#footer .about-links {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#footer .about-links a {
  font-size: var(--link-font-size);
  color: var(--texto);
  text-align: center;
  text-decoration: none;
  line-height: 1.375rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 769px) {
  /* Fontes */
  :root {
    --big-title-font-size: 2.25rem;
    --title-font-size: 1.5rem;
    --subtitle-font-size: 1.125rem;
    --link-font-size: 0.875rem;
    --paragraph-font-size: 0.75rem;
  }
  /* Cabeçalho */
  #header {
    justify-content: left;
  }

  #header img {
    display: block;
    margin-left: 8.125rem;
  }

  /* Corpo da Página */
  main {
    margin-top: 5.9375rem;
  }
  main h2 {
    font-size: var(--big-title-font-size);
    line-height: 2.625rem;
    text-align: left;
    text-indent: 8.125rem;
  }

  /* Inputs */
  .flex-input {
    padding: 1.375rem 8.125rem 2.3125rem 8.125rem;
  }

  input[type='search'] {
    background-position: 12.5px 12.5px;
    width: 23.75rem;
    height: 3.125rem;
  }

  .flex-ordenar {
    align-items: center;
    justify-content: center;
    flex-flow: row;
  }

  .flex-ordenar label {
    font-size: var(--subtitle-font-size);
    line-height: 1.3125rem;
    margin-right: 1.25rem;
  }

  input[list='ordenar-lista'] {
    text-align: center;
    text-indent: 0;
    width: 11.25rem;
    height: 3.125rem;
    margin-top: 0;
  }

  /* Cards de Jogos em Promoção*/
  #jogos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .oferta {
    height: 15.6875rem;
    width: 23.75rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 0 0.625rem 1.25rem 0.625rem;
  }

  .oferta header {
    top: 9.625rem;
  }

  .oferta .titulo-jogo {
    text-indent: 1rem;
    line-height: 1.75rem;
    max-width: 22rem;
  }

  .oferta figure {
    height: 9.1875rem;
    width: 23.75rem;
    border-radius: 8px 8px 0px 0px;
  }

  .oferta img {
    width: 23.75rem;
  }

  .oferta div {
    padding: 0 1rem 1rem 1rem;
    width: 23.75rem;
  }

  .oferta .detalhes-jogo {
    width: 7.25rem;
    height: 2.4375rem;
    border-radius: 8px;
  }

  .oferta .desconto-jogo {
    width: 5.25rem;
    height: 2.4375rem;
    border-radius: 8px;
  }

  /* Botão "Carregar Mais" */
  .button-wrapper {
    margin: 1.25rem auto 2.75rem auto;
  }

  .button-wrapper .more-content {
    font-size: var(--subtitle-font-size);
    width: 23.75rem;
  }

  /* Rodapé */
  #footer {
    padding: 3.8125rem 8.125rem 3.8125rem 8.125rem;
  }

  #footer p {
    font-size: var(--link-font-size);
    text-align: left;
    line-height: 1.5625rem;
    margin: 2.0625rem 0 1.25rem 0;
  }

  #footer .about-links {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 8.125rem 0 8.125rem;
  }

  #footer .about-links a {
    display: block;
    line-height: 1.5625rem;
    margin-bottom: 0;
    margin-right: 2.875rem;
  }
}
